<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="contact-info">
                    <input type="text" placeholder="Name" class="p-3 w-100 mt-3">
                    <input type="email" placeholder="Email" class="p-3 w-100 mt-3">
                    <input type="text" placeholder="Phone" class="p-3 w-100 mt-3">
                    <textarea class="p-3 w-100 mt-3" placeholder="Message"></textarea>
                    <button class="btn btn-danger mt-3 w-25 rounded-pill">send</button>
                </div>
            </div>
            <div class="col-md-6">
                <div class="contact-img">
                    <img src="../../assets/img/img-6.png" alt="" class="img-fluid float-end">
                </div>
            </div>
        </div>
    </div>
</section>  